
body {
	color: #003;
	font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	overflow: auto;
}

button {
  background: repeat-x url("images/button_bw.gif");
  background-size: 100% 100%;
  font-weight: bold;
  border: solid thin #888;
  /* box-shadow: 0px 0px 3px rgba(0,0,0,0.5); this causes text alignment issues */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  text-shadow: 0px 1px rgba(255,255,255,0.6);
  border-radius: 2px;
  height: auto;
  cursor: pointer;
  padding: 3px 12px;
  vertical-align: middle;
}

button:active {
	border: solid thin #31a3ec;
	color: #046aac;
}

input, textarea {
	font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
}

.hidden {
	display: none;
}

.small-action-link {
	cursor: pointer;
	font-size: 0.8em;
	padding: 0px 3px;
	text-decoration: underline;
}

a:link, .small-action-link, .link {
	color: #238;
	cursor: pointer;
	text-decoration: underline;
}

a:visited {
	color: #236;
}

a:hover, a:active {
	color: red;
}

.float-right {
	float: right;
}

.floatstop {
	clear: both;
	display: block;
	height: 1px;
}

.formHint {
	font-size: 0.8em;
	font-style: italic;
	font-weight: normal;
}

.formFieldInvalid {
	color: maroon;
}

/** Most GWT widgets already have a style name defined */

.gwt-DatePicker {
    border: 1px solid #AAAAAA;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
    cursor: default;
}

.gwt-DatePicker td, .datePickerMonthSelector td:focus {
    outline: none
}

.datePickerMonthSelector td:focus {
    outline: none
}

.datePickerDays {
    width: 100%;
    background: white;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    outline: none;
}

.datePickerDay {
    font-size: 10px;
    text-align: center;
    padding: 4px;
    outline: none;
    cursor: pointer;
}

.datePickerWeekdayLabel {
    background: #ececec;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    font-color: #f8941d;
    padding: 2px 10px 2px;
    cursor: default;
}

.datePickerWeekendLabel {
    background: #ececec;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    font-color: #636363;
    padding: 0px 10px 2px;
    cursor: default;
}

.datePickerDayIsToday {
    border: 1px dotted #888888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.datePickerDayIsWeekend {
    background: #f7f7f7;
}

.datePickerDayIsFiller {
    color: #888888;
}

.datePickerDayIsValue {
	background: #fcea74;
	border: 1px dotted #FC0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}

.datePickerDayIsValueAndHighlighted, .datePickerDayIsHighlighted {
    background: #fff8c9;
}

.datePickerMonthSelector {
    background: #f7f7f7;
    width: 100%;
}

.datePickerPreviousButton, .datePickerNextButton {
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    color: #AAAAAA;
    cursor: pointer;
    padding: 0px 4px;
}

td.datePickerMonth {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

.gwt-DateBox input {
    width: 8em;
}

.dateBoxFormatError {
    background: #ffcccc;
}

.dateBoxPopup {

}

/*** Tab bar styling ***/
.gwt-TabBar {
	background: white repeat-x url('images/theme-ohmage/dashboard-tab-bg.png');
	padding-left: 10px;
	height: 34px;
	vertical-align: top;
}

.gwt-TabBarItem {
	cursor: pointer;
	/* background: #FFF; */
	font-weight: bold;
	font-size: 12px;
	color: white;
	text-shadow: 0px 1px 1px #000;
	
	padding: 5px 5px;
	padding-bottom: 9px;
	margin-right: 20px;
}

.gwt-TabBarItem-selected {
	color: #bce9f9;
	border: none;
	background: center bottom no-repeat url('images/theme-ohmage/dashboard-tab-selector.png');
}

/* don't outline tab bar when first selected */
/* todo: something that lets keyboard navigators tell current tab location */
.gwt-TabBarItem:active, .gwt-TabBarItem:focus {
  outline-style: none; 
  -moz-outline-style:none;
}

.gwt-TabPanel {
	height: 100%; /* both TabPanel and TabPanel bottom need 100% height */
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.gwt-TabPanelBottom { 
	border: none;
	height: 100%; /* both TabPanel and TabPanel bottom need 100% height */
	margin-bottom: 50px;
}

.gwt-TreeItem {
	cursor: pointer;
	padding: 2px;
}

.gwt-TreeItem-selected {
	background-color: #DDEDFD;
	border: solid thin #CCECFC;
	padding: 2px 10px 2px 2px;
}

.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: literal("alpha(opacity=30)");
}

/** Dialog box styles taken from (old?) gwt default style sheet. **/

.gwt-DialogBox {
  border: 1px solid #888;
  background: #FFFFFF;
  -moz-box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
  padding: 20px;
}

.gwt-DialogBox .Caption {
  font-size: 14px;
  font-weight: bold;
  font-color: #FFFFFF;
  cursor: default;
  padding-bottom: 10px;
}

/*
.gwt-DialogBox .Content table {
  filter: alpha(opacity=100);
}

.gwt-DialogBox .dialogContent { background-color: white; }
.gwt-DialogBox .dialogTopLeft { background-color: #888; }
.gwt-DialogBox .dialogTopLeftInner {}
.gwt-DialogBox .dialogTopCenter {}
.gwt-DialogBox .dialogTopCenterInner {}
.gwt-DialogBox .dialogTopRight { background-color: #AAA; }
.gwt-DialogBox .dialogTopRightInner {}
.gwt-DialogBox .dialogMiddleLeft { background-color: #888; }
.gwt-DialogBox .dialogMiddleLeftInner {}
.gwt-DialogBox .dialogMiddleCenter { background-color: white; }
.gwt-DialogBox .dialogMiddleCenterInner {}
.gwt-DialogBox .dialogMiddleRight { background-color: #AAA; }
.gwt-DialogBox .dialogMiddleRightInner {}
.gwt-DialogBox .dialogBottomLeft { background-color: #888; }
.gwt-DialogBox .dialogBottomLeftInner {}
.gwt-DialogBox .dialogBottomCenter { 
	 background-color: #888; 
	 border: none;
	 height: 1px; 
}
.gwt-DialogBox .dialogBottomCenterInner {}
.gwt-DialogBox .dialogBottomRight { background-color: #AAA; }
.gwt-DialogBox .dialogBottomRightInner {}
*/

/********* app-wide message styles *********************/

.errorBox {
	background-image: url(images/exclamation.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	margin: auto;
	padding: 10px 10px 10px 30px;
}

.errorDialogButtonDiv {
  text-align: right;
}

.infoDialogButtonDiv {
	text-align: right;
}

ul.errorList {
	list-style-type: none; /* no html bullets */
	padding: 0px 10px 0px 5px;
}

li.errorListItem {
	background-image: url(images/bullet_black.png);
	background-repeat: no-repeat;
	background-position: 0px 30%;
	padding-left: 17px;
}

.successMsg {
  background-color: #FFFFE0;
  background-image: url(images/star.png);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  border: solid 1px #F8CF3E;
  margin: auto;
  padding: 10px 10px 10px 30px;
}

/********* end app-wide error message styles *********************/

/********* hack for disclosure panels *********************/

a.header, a.header td, a.header table, a.header tr {
	text-decoration: none; /* Remove underline from header in disclosure panel in Firefox */
}
/********* end hack for disclosure panels *****************/

/************** list widget styles *****************/

.listWidget button {
  background-color: #DDD;
  border: solid 1px #AAA;
  color: #888;
  cursor: pointer;
  font-size: 0.8em;
  height: 13px;
  padding: 0px;
  width: 13px;
}

.listWidget td {
  border-bottom: solid thin #CCC;
  color: #444;
  font-size: 0.9em;
  padding-right: 5px;
  vertical-align: middle;
}

/********* end list widget styles *****************/
