/* CSS rules specific to the calendar visualization view */
.gwt-DatePicker { 
	width: 600px; 
	height: 600px; 
	border: 0px;
}

/* the month selector widget */
.datePickerMonthSelector { 
	background: white;
}
/* the month in the month selector widget */
td.datePickerMonth {  
	font-size: 1.5em;
	color: black;
}
/* the previous month button */
/* the next month button */
.datePickerPreviousButton, .datePickerNextButton {
	color: white;
	cursor: default;
}
/* the portion of the picker that shows the days */
.datePickerDays {
	height: 100%;
}
/* the label over weekdays */
/* the label over weekends */
.datePickerWeekdayLabel, .datePickerWeekendLabel {
	background-color:white;
	height: 30px;
	vertical-align: bottom;
	font-size: 1.0em;
}
/* a single day */
.datePickerDay {
	color: lightgrey;
	background: lightgrey;
	padding: 0;
	border: 5px solid white;
}
/* today's date */
.datePickerDayIsToday {}
/* a weekend day */
.datePickerDayIsWeekend {}
/* a day in another month, turn these off */
.datePickerDayIsFiller {
	color: white;
	background-color: white;
}
/* the selected day */
.datePickerDayIsValue {}
/* a disabled day */
.datePickerDayIsDisabled {}
/* the currently highlighted day */
.datePickerDayIsHighlighted {}
/* the highlighted day if it is also selected */
.datePickerDayIsValueAndHighlighted {}