/* CSS rules specific to the calendar visualization view */
.gwt-DatePicker { 
	width: 100%;
	height: 500px;
	border: none;
}

/* the month selector widget */
.datePickerMonthSelector { 
	background: white;
	display: none;
}
/* the month in the month selector widget */
td.datePickerMonth {  
	font-size: 1.5em;
	color: black;
}
/* the previous month button */
/* the next month button */
.datePickerPreviousButton, .datePickerNextButton {
	color: white;
	cursor: default;
}
/* the portion of the picker that shows the days */
.datePickerDays {
	height: 100%;
}
/* the label over weekdays */
/* the label over weekends */
.datePickerWeekdayLabel, .datePickerWeekendLabel {
	background: white;
	height: 20px;
	vertical-align: bottom;
	font-size: 1.0em;
}
/* a single day */
.datePickerDay {
	color: black;
	background: lightgrey;
	padding: 0;
	border: 5px solid white;
	font-size:1.2em;
}
/* today's date */
.datePickerDayIsToday {}
/* a weekend day */
.datePickerDayIsWeekend {}
/* a day in another month, turn these off */
td .datePickerDayIsFiller {
	color: white !important;
	background: white !important;
	cursor: default !important;
}

/* a disabled day, should not be clickable */
td .datePickerDayIsDisabled {
	color: black;
	cursor: default;	
}

/* the selected day */
.datePickerDayIsValue {}

/* the currently highlighted day */
td .datePickerDayIsHighlighted {
	color: black;
	background: grey;
}
/* the highlighted day if it is also selected */
.datePickerDayIsValueAndHighlighted {}


/* Opacities to set an individual day's opacity */
.opacity5  { background: rgba(0a,16,81,0.05); }
.opacity10 { background: rgba(0a,16,81,0.10); }
.opacity15 { background: rgba(0a,16,81,0.15); }
.opacity20 { background: rgba(0a,16,81,0.20); }
.opacity25 { background: rgba(0a,16,81,0.25); }
.opacity30 { background: rgba(0a,16,81,0.30); }
.opacity35 { background: rgba(0a,16,81,0.35); }
.opacity40 { background: rgba(0a,16,81,0.40); }
.opacity45 { background: rgba(0a,16,81,0.45); }
.opacity50 { background: rgba(0a,16,81,0.50); }
.opacity55 { background: rgba(0a,16,81,0.55); }
.opacity60 { background: rgba(0a,16,81,0.60); }
.opacity65 { background: rgba(0a,16,81,0.65);
             color: white; }
.opacity70 { background: rgba(0a,16,81,0.70); 
             color: white; }
.opacity75 { background: rgba(0a,16,81,0.75); 
             color: white; }
.opacity80 { background: rgba(0a,16,81,0.80); 
             color: white; }
.opacity85 { background: rgba(0a,16,81,0.85); 
             color: white; }
.opacity90 { background: rgba(0a,16,81,0.90); 
             color: white; }
.opacity95 { background: rgba(0a,16,81,0.95); 
             color: white; }
.opacity100 { background: rgba(0a,16,81,1.0); 
	          color: white; }